openapi: 3.1.0
info:
  title: Codefresh REST Access Control Admin API
  description: 'REST API for managing Codefresh pipelines, builds, clusters, environments,

    contexts, Helm charts, and access control. Authenticated via API key tokens

    with granular scopes. This best-effort OpenAPI was generated from the

    public Codefresh openapi.json published with the codefresh-io/cli project

    and the docs at https://codefresh.io/docs/docs/integrations/codefresh-api/

    and does not cover every endpoint, parameter, or schema.

    '
  version: 1.0.0
  contact:
    name: Codefresh
    url: https://codefresh.io
servers:
- url: https://g.codefresh.io/api
  description: Codefresh SaaS API
security:
- ApiKeyAuth: []
tags:
- name: Admin
paths:
  /admin/accounts:
    get:
      tags:
      - Admin
      summary: List accounts (admin)
      operationId: listAdminAccounts
      responses:
        '200':
          description: Accounts
    post:
      tags:
      - Admin
      summary: Create an account (admin)
      operationId: createAdminAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Created
  /admin/accounts/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Admin
      summary: Retrieve an account (admin)
      operationId: getAdminAccount
      responses:
        '200':
          description: Account
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Codefresh API key. Send raw token as Authorization header value.
