openapi: 3.1.0
info:
  title: Codefresh REST Access Control Auth API
  description: 'REST API for managing Codefresh pipelines, builds, clusters, environments,

    contexts, Helm charts, and access control. Authenticated via API key tokens

    with granular scopes. This best-effort OpenAPI was generated from the

    public Codefresh openapi.json published with the codefresh-io/cli project

    and the docs at https://codefresh.io/docs/docs/integrations/codefresh-api/

    and does not cover every endpoint, parameter, or schema.

    '
  version: 1.0.0
  contact:
    name: Codefresh
    url: https://codefresh.io
servers:
- url: https://g.codefresh.io/api
  description: Codefresh SaaS API
security:
- ApiKeyAuth: []
tags:
- name: Auth
paths:
  /auth/key:
    post:
      tags:
      - Auth
      summary: Generate an API key
      operationId: createAuthKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subject:
                  type: object
                scopes:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Key created
  /auth/keys:
    get:
      tags:
      - Auth
      summary: List API keys
      operationId: listAuthKeys
      responses:
        '200':
          description: Keys
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Codefresh API key. Send raw token as Authorization header value.
