openapi: 3.1.0
info:
  title: Codefresh REST Access Control API
  description: 'REST API for managing Codefresh pipelines, builds, clusters, environments,

    contexts, Helm charts, and access control. Authenticated via API key tokens

    with granular scopes. This best-effort OpenAPI was generated from the

    public Codefresh openapi.json published with the codefresh-io/cli project

    and the docs at https://codefresh.io/docs/docs/integrations/codefresh-api/

    and does not cover every endpoint, parameter, or schema.

    '
  version: 1.0.0
  contact:
    name: Codefresh
    url: https://codefresh.io
servers:
- url: https://g.codefresh.io/api
  description: Codefresh SaaS API
security:
- ApiKeyAuth: []
tags:
- name: Access Control
paths:
  /abac:
    get:
      tags:
      - Access Control
      summary: List ABAC rules
      operationId: listAbacRules
      responses:
        '200':
          description: List of rules
    post:
      tags:
      - Access Control
      summary: Create an ABAC rule
      operationId: createAbacRule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Rule created
  /abac/batch:
    post:
      tags:
      - Access Control
      summary: Batch create or delete ABAC rules
      operationId: batchAbacRules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum:
                  - create
                  - delete
                rules:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Batch result
  /abac/resource/{resource}:
    parameters:
    - in: path
      name: resource
      required: true
      schema:
        type: string
    get:
      tags:
      - Access Control
      summary: List rules for a resource
      operationId: getAbacByResource
      responses:
        '200':
          description: Rules
  /abac/tags/rule/{rule}:
    parameters:
    - in: path
      name: rule
      required: true
      schema:
        type: string
    post:
      tags:
      - Access Control
      summary: Update tags on an ABAC rule
      operationId: updateAbacRuleTags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Updated
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Codefresh API key. Send raw token as Authorization header value.
